<mat-card class="logo-banner" color="primary">
    <div class="logo-banner-left">
        <div>
            <button mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>bookmark</mat-icon>
              </button>
              LOGO
        </div>
        
    </div>
    <div class="logo-banner-right">
        <div class="banner-menu">
            <button mat-button>Setting</button>
            <button mat-button >Logout</button> 
        </div>
    </div>
</mat-card>
