<div class="pageTitle">
    <br />
    <h2>Nurse Overview Page</h2>
</div>

<br />
<br />
<br />
<div class="NurseOverview">
    <button mat-raised-button type="submit" color="primary" (click)="onAddVitals()"
    class="NurseBtn" >Add Vitals</button>
    <br/>
    <br/>

    <button mat-raised-button type="submit" color="primary" (click)="onNurseViewVisit()"
    class="NurseBtn" >View Patient Visit Record</button>
    <br/>
    <br/>

    <button mat-raised-button type="submit" color="primary" (click)="onNurseViewMedical()"
    class="NurseBtn" >View Patient Medical Record</button>
    <br/>
    <br/>
</div>
<br/>
<br/>
<div class="CheckoutBtn">
    <button mat-raised-button type="submit" color="primary" (click)="onCheckoutBtn()"
    class="NurseBtn" >Checkout</button>
</div>
