.pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.CheckoutBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}