<div class="pageTitle">
  <br />
  <h2>Visitation Queue</h2>
</div>

<br/>

<div class="queue">

  <mat-form-field class="filterSearch">
    <mat-label>*Search Records</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John Smith" #input>
  </mat-form-field>

  <mat-form-field class="filterStatus">
    <mat-label>Status</mat-label>
    <mat-select (selectionChange) = "onSelectChanged($event)" placeholder="All" >
      <mat-option *ngFor="let status of statuses" [value] = "status.value">{{status.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="patientName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
      <td mat-cell *matCellDef="let row"> {{row.patient_name}} </td>
    </ng-container>

    <ng-container matColumnDef="visitDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit Date </th>
      <td mat-cell *matCellDef="let row"> {{row.visit_date}} </td>
    </ng-container>

    <ng-container matColumnDef="nurse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nurse Assigned </th>
      <td mat-cell *matCellDef="let row"> {{row.nurse}} </td>
    </ng-container>

    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor Assigned </th>
      <td mat-cell *matCellDef="let row"> {{row.doctor}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Status</th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewRecord(row)"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>