<div class="pageTitle">
    <br />
    <h2>Doctor Overview Page</h2>
</div>

<br />
<br />
<br />
<div class="doctorOverview">
    <button mat-raised-button type="submit" color="primary" (click)="onDoctorAddDiagnosis()"
    class="doctorAddDiagnosisBtn" >Add Diagnosis</button>
    <br/>
    <br/>

    <button mat-raised-button type="submit" color="primary" (click)="onDoctorViewVisit()"
    class="doctorAddDiagnosisBtn" >View Patient Visit Record</button>
    <br/>
    <br/>

    <button mat-raised-button type="submit" color="primary" (click)="onDoctorViewMedical()"
    class="doctorAddDiagnosisBtn" >View Patient Medical Record</button>
    <br/>
    <br/>
</div>
<br/>
<br/>
<div class="CheckoutBtn">
    <button mat-raised-button type="submit" color="primary" (click)="onCheckoutBtn()"
    class="doctorAddDiagnosisBtn" >Checkout</button>
</div>
